<div class="min-h-[60vh] flex flex-col justify-center px-4 pb-20">
    <!-- Título -->
    <h1 class="text-[#3098a3] text-6xl text-center font-bold mb-20 mt-5">Proyectos</h1>

  <div class="flex flex-col sm:flex-row items-center sm:items-stretch gap-6 w-full max-w-5xl mx-auto">

    <!-- Card 1 -->
    <div class="relative group flex-grow w-full sm:w-56 h-[300px] sm:h-[400px] transition-all duration-500 hover:lg:w-full ">
      <a href="https://github.com/RafelAm/Proyecto-DAW-2024-2025">
        <img class="h-full w-full object-cover object-center blur-xs" src="/blackjack.png" alt="image">
        <div class="absolute inset-0 flex flex-col justify-end p-6 sm:p-10 text-white bg-black/50
                    opacity-100 xl:opacity-0 xl:group-hover:opacity-100 transition-all duration-300 ">
          <h1 class="text-xl sm:text-3xl font-medium text-[#3098a3] ">BlackJack Multiplayer</h1>
          <p class="text-sm sm:text-base font-bold">
            Este proyecto es mi proyecto de final de curso el cual presenté y está hecho con Node.js y Socket.io como tecnologías principales.
          </p>
        </div>
      </a>
    </div>

    <!-- Card 2 -->
    <div class="relative group flex-grow w-full sm:w-56 h-[300px] sm:h-[400px] transition-all duration-500 hover:lg:w-full">
      <a href="https://github.com/RafelAm/tetris-cliente">
        <img class="h-full w-full object-cover object-center blur-xs" src="/tetris.png" alt="image">
        <div class="absolute inset-0 flex flex-col justify-end p-6 sm:p-10 text-white bg-black/50
                    opacity-100 xl:opacity-0 xl:group-hover:opacity-100 transition-all duration-300">
          <h1 class="text-xl sm:text-3xl font-medium text-[#3098a3]">Tetris</h1>
          <p class="text-sm sm:text-base font-bold">
            Este proyecto es una pequeña tarea basada en JavaScript, Canva y HTML, el cual es un tetris ejecutado en cliente.
          </p>
        </div>
      </a>
    </div>

  </div>
</div>
