<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<div class="lg:min-h-screen lg:flex lg:items-center lg:justify-center relative hero">
  <!-- Navbar -->
<nav class=" text-white px-6 py-4 flex items-center justify-center fixed top-0 left-0 w-full z-50">
  <!-- Menú desktop -->
  <ul class="hidden md:flex space-x-8 text-lg font-medium">
    <li><a href="#inicio" class="hover:text-[#5fbec9] transition">Inicio</a></li>
    <li><a href="#sobre-mi" class="hover:text-[#5fbec9] transition">Sobre mí</a></li>
    <li><a href="#skills" class="hover:text-[#5fbec9] transition">Skills</a></li>
    <li><a href="#trayectoria" class="hover:text-[#5fbec9] transition">Trayectoría</a></li>
    <li><a href="#contacto" class="hover:text-[#5fbec9] transition">Contacto</a></li>
    <li><a href="#proyectos" class="hover:text-[#5fbec9] transition">Proyectos</a></li>

  </ul>

  <!-- Botón móvil -->
  <button class="md:hidden text-[#5fbec9] focus:outline-none" title="Menú">
    <!-- Icono hamburguesa -->
    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
</nav>

  <div class="relative w-full max-w-screen lg:h-screen overflow-hidden isolate px-6 pt-14 lg:px-8 lg:min-h-full" id="inicio" >
    <!-- SVG decorativo de fondo -->


    <!--Contenedor del Contenido-->
    <div
      class="mx-auto py-32 sm:py-32 lg:py-56 2xl:max-w-6xl xl:max-w-5xl lg:max-w-4xl md:max-w-3xl sm:max-w-2xl z-0"
    >
      <div class="text-left">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-white 2xl:text-8xl xl:text-8xl lg:text-7xl md:text-6xl sm:text-5xl"
        >
          Rafel Amengual Tomás
        </h1>
        <p
          class="mt-6 text-3xl 2xl:text-5xl xl:text-5xl lg:text-5xl md:text-4xl sm:text-3xl font-semibold tracking-tight text-balance text-[#3098a3]"
        >
          Junior Software Developer
        </p>
      </div>
    </div>
  </div>
