<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<div class="lg:min-h-screen lg:flex lg:items-center lg:justify-center relative hero">
  <div class="relative w-full max-w-screen lg:h-screen overflow-hidden isolate px-6 pt-14 lg:px-8 lg:min-h-full" id="inicio" >
    <!-- SVG decorativo de fondo -->


    <!--Contenedor del Contenido-->
    <div
      class="mx-auto py-32 sm:py-32 lg:py-56 2xl:max-w-6xl xl:max-w-5xl lg:max-w-4xl md:max-w-3xl sm:max-w-2xl z-0"
    >
      <div class="text-left">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-white 2xl:text-8xl xl:text-8xl lg:text-7xl md:text-6xl sm:text-5xl"
        >
          Rafel Amengual Tomás
        </h1>
        <p
          class="mt-6 text-3xl 2xl:text-5xl xl:text-5xl lg:text-5xl md:text-4xl sm:text-3xl font-semibold tracking-tight text-balance text-[#3098a3]"
        >
          Junior Software Developer
        </p>
      </div>
    </div>
  </div>
