@layer utilities {


    .animate-lava3 {
      animation: lava2 20s ease-in-out infinite;
clip-path: polygon(81% 56%, 88% 44%, 97% 22%, 87% 24%, 72% 17%, 65% 27%, 56% 28%, 43% 33%, 35% 27%, 28% 44%, 15% 31%, 3% 19%, 10% 53%, 26% 57%, 40% 56%, 55% 47%, 68% 54%);
    }

  @keyframes lava2 {

    0%,
    100% {
clip-path: polygon(81% 56%, 88% 44%, 97% 22%, 87% 24%, 72% 17%, 65% 27%, 56% 28%, 43% 33%, 35% 27%, 28% 44%, 15% 31%, 3% 19%, 10% 53%, 26% 57%, 40% 56%, 55% 47%, 68% 54%)
    }

    50% {
clip-path: polygon(73% 88%, 97% 77%, 89% 37%, 85% 63%, 74% 68%, 64% 65%, 53% 51%, 49% 69%, 37% 50%, 30% 48%, 23% 60%, 11% 46%, 20% 70%, 6% 85%, 25% 83%, 30% 63%, 61% 90%);
    }
  }
}
