.animate-lava-2-mini {
  animation: lava2Mini 20s ease-in-out infinite;
  clip-path: polygon(
    33% 55%,
    59% 66%,
    79% 53%,
    100% 70%,
    71% 68%,
    51% 87%,
    31% 57%,
    0% 70%,
    14% 49%,
    14% 25%
  );
}

@keyframes lava2Mini {
  0%,
  100% {
    clip-path: polygon(
      33% 55%,
      59% 66%,
      79% 53%,
      100% 70%,
      71% 68%,
      51% 87%,
      31% 57%,
      0% 70%,
      14% 49%,
      14% 25%
    );
  }

  50% {
    clip-path: polygon(
      41% 39%,
      62% 61%,
      81% 35%,
      100% 70%,
      79% 55%,
      68% 93%,
      36% 47%,
      24% 61%,
      5% 51%,
      15% 38%
    );
  }
}
