<div class="w-full min-h-screen flex  justify-center px-4">
  <div class="max-w-6xl mx-auto text-[#3098a3] p-6">
    <!-- Título -->
    <h1 class="text-[#3098a3] text-6xl text-center font-bold mb-20 mt-5">Sobre mí</h1>
    <p class="text-black font-medium text-lg text-justify">
¡Hola! Soy Rafel Amengual Tomás,
Desarrollador Junior de Aplicaciones Web con formación en el Grado Superior de Desarrollo de Aplicaciones Web.
Durante mi etapa académica he adquirido conocimientos sólidos en tecnologías como Java, Spring Boot, Node.js, PostgreSQL, Git,
y los lenguajes fundamentales del desarrollo web.

Actualmente estoy consolidando mis habilidades en el desarrollo Back End,
aunque también estoy explorando el mundo Front End con Angular,
y no descarto evolucionar hacia un perfil FullStack. Me apasiona resolver problemas,
aportar ideas constructivas y trabajar en equipo, especialmente bajo metodologías ágiles como Scrum con tablero Kanban.
<br><br>
En mi portfolio encontrarás:
<br><br>
🎮 Proyecto Final de Curso: Juego multijugador de Blackjack desarrollado con Node.js y Socket.io, enfocado en la comunicación en tiempo real.
<br><br>
🖼️ Proyecto Cliente: Aplicación interactiva creada con HTML, Canvas y JavaScript, centrada en la experiencia visual.
<br><br>
🏢 Proyecto en marcha: Desarrollo de una web corporativa y un sistema de fichaje para una pequeña empresa, combinando diseño funcional y lógica de negocio.
<br><br>
Estoy en búsqueda activa de oportunidades profesionales donde pueda seguir aprendiendo, aportar valor y crecer como desarrollador. Si te interesa colaborar conmigo o tienes una propuesta que encaje con mi perfil, ¡estaré encantado de conectar!
    </p>
  </div>
</div>
