<div class="w-full min-h-screen flex  justify-center px-4 bg-white " id="sobre-mi">
  <div class="max-w-6xl mx-auto text-[#3098a3] p-6 ">
    <!-- Título -->
    <h1 class="text-[#3098a3] text-4xl md:text-5xl lg:text-6xl xl:text-6xl 2xl:text-6xl text-center font-bold mb-20 mt-5">Sobre mí</h1>

    <p class="text-black font-medium text-2xl text-left">
      Soy Rafel Amengual, Desarrollador de Aplicaciones Web, con formación finalizada en el
      Grado Superior de Desarrollo de Aplicaciones Web. Actualmente, estoy ampliando mis conocimientos mediante una
      especialización en Inteligencia Artificial y Big Data.
    </p>
    <br>
    <p class="text-black font-medium text-2xl text-left">
      Me defino como una persona trabajadora, responsable, con capacidad de análisis de problemas y una gran disposición para el aprendizaje.
      En estos momentos, estoy desarrollando pequeños proyectos personales y explorando nuevas tecnologías y lenguajes de programación.
    </p>
    <br>
    <p class="text-black font-medium text-2xl text-left">
      Actualmente, me encuentro en búsqueda activa de empleo como Desarrollador, con el objetivo de seguir aprendiendo y
      aportar mis ideas al mundo profesional.
    </p>
  </div>

</div>
