<div class="w-full min-h-screen flex items-center justify-center px-4">
  <div class="max-w-6xl mx-auto text-[#3098a3] p-6 text-center">
    <!-- Título -->
    <h1 class="text-[#3098a3] text-6xl text-center font-bold mb-20">Sobre mí</h1>
    <p class="text-black font-medium text-lg text-center">
      Mi nombre es Rafel Amengual Tomás y soy Desarrollador Junior de Desarrollo de Aplicaciones Web.
      Me apasiona el mundo del desarrollo y actualmente me encuentro trabajando en proyectos personales mientras continúo ampliando
      mis conocimientos en nuevas tecnologías. Mi objetivo es incorporarme al entorno profesional con una preparación sólida
      y una base técnica bien fundamentada. Recientemente he finalizado mis estudios de Desarrollo de Aplicaciones Web,
      los cuales me han permitido comprender el funcionamiento del sector y reforzar mi vocación por esta disciplina. En este momento,
      me encuentro abierto a nuevas oportunidades que me permitan seguir creciendo como desarrollador.
    </p>
  </div>
</div>
